

<h2>User Id</h2>

<table class="table table-hover table-condensed">
    <tr>
        <td>Lifetime</td>
        <td>Generated value</td>
    </tr>
    <tr>
        <td>Transient1</td>
        <td>@ViewBag.UserIdTransient1</td>
    </tr>
    <tr>
        <td>Transient2</td>
        <td>@ViewBag.UserIdTransient2</td>
    </tr>
    <tr>
        <td>Scoped1</td>
        <td>@ViewBag.UserIdScoped1</td>
    </tr>
    <tr>
        <td>Scoped2</td>
        <td>@ViewBag.UserIdScoped2</td>
    </tr>
    <tr>
        <td>Singleton1</td>
        <td>@ViewBag.UserIdSingleton1</td>
    </tr>
    <tr>
        <td>Singleton2</td>
        <td>@ViewBag.UserIdSingleton2</td>
    </tr>
</table>